doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
        function addTalk() {
          var talkUrlInput = document.getElementById('talkUrlInput');
          var talkButton = document.getElementById('addTalkButton');

          if (talkUrlInput && talkUrlInput.value) {
            var talkUrl = talkUrlInput.value;
            var textContent = talkButton.textContent;
            var req = new XMLHttpRequest();
            var params = JSON.stringify({ url: talkUrl });
            
            talkUrlInput.setAttribute("readonly", true);
            talkButton.setAttribute("disabled", true);
            talkButton.textContent = "Adding Talk. Will enable shortly!";

            req.addEventListener("load", function() {
              location.reload();
            });

            req.open("POST", "/api/add");
            req.setRequestHeader("Content-Type", "application/json");
            req.send(params);
          } else {
            console.warn('Could not find a URL to ship');
          }
        }
  body
    h1= pageTitle
    p Add a new talk below.
    input(type="text" id="talkUrlInput" placeholder="Ex: https://youtu.be/asdf1234", size=32)
    button(onClick="addTalk();" id="addTalkButton") Add This Talk!
      
    #container.col
      h3 Existing talks
      
      .talks
        each talk in talks
          .entry
            a(href='/api/get/' + talk.id) #{talk.title}
